@import url(https://fonts.googleapis.com/css?family=Manrope:200,300,regular,500,600,700,800);
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a {
  text-decoration: none;
}

html, body {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  font-size: 100%;
  line-height: 1;
  font-family: "Manrope";
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  position: relative;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

ul li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

.options__text > span, .header__contacts > span, .header__price > .text span, .header__map > .text {
  position: relative;
  transition: all 0.3s ease;
}
.options__text > span:hover::after, .header__contacts > span:hover::after, .header__price > .text span:hover::after, .header__map > .text:hover::after {
  cursor: pointer;
  width: 75%;
  color: red;
}
.options__text > span::after, .header__contacts > span::after, .header__price > .text span::after, .header__map > .text::after {
  content: "";
  width: 100%;
  height: 0;
  border-bottom: 0.0536193029vw dotted #d91967;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: all 0.3s ease;
}
.options__text > span::after:hover, .header__contacts > span::after:hover, .header__price > .text span::after:hover, .header__map > .text::after:hover {
  cursor: pointer;
}

.preview__info-button, .preview__price-button, .call__button {
  position: relative;
  overflow: hidden;
  transition: all 0.2s ease;
}
.preview__info-button:hover, .preview__price-button:hover, .call__button:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: all 0.2s ease;
}
.preview__info-button:active, .preview__price-button:active, .call__button:active {
  transform: scale(0.95);
  transition: all 0.2s ease;
}
.preview__info-button::before, .preview__price-button::before, .call__button::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: url("../assets/blick.svg") center no-repeat;
  transform: translateX(-10%);
  animation: blick 5s ease-in-out 0s infinite;
}

@keyframes blick {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}
.burger {
  position: relative;
  z-index: 100;
  width: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}
.burger span, .burger span::before, .burger span::after {
  width: 100%;
  position: absolute;
  height: 3px;
  background: white;
  display: block;
  transition: 0.3s;
}
.burger span {
  top: 0px;
}
.burger span::before {
  content: "";
  top: -4px;
  transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.burger span:after {
  content: "";
  bottom: -4px;
  transition: bottom 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.burger span.active {
  background: rgba(255, 255, 255, 0);
}
.burger span.active:before {
  content: "";
  top: 0px;
  transform: rotate(45deg);
  background: black;
  transition: top 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.burger span.active:after {
  content: "";
  bottom: 0;
  transform: rotate(-45deg);
  background: black;
  transition: bottom 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wraper {
  min-height: 100vh;
  overflow: hidden;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.popup__call {
  position: relative;
}

.button-close {
  position: absolute;
  top: 1.8766756032vw;
  right: 1.9839142091vw;
  width: 1.072386059vw;
  height: 1.072386059vw;
  background: url("../assets/close.svg") center no-repeat;
  transition: all 0.1s ease;
}
.button-close:hover {
  cursor: pointer;
}
.button-close:active {
  transform: scale(0.85);
  transition: all 0.1s ease;
}

.call__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 32.1715817694vw;
  background: url("../assets/form.jpg") 100%/100% no-repeat;
  padding: 2.4128686327vw 3.6461126005vw 4.0214477212vw;
  position: relative;
}
.call__title {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 1.7158176944vw;
  line-height: 2.3592493298vw;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #2a2a2a;
  max-width: 15.2815013405vw;
  font-weight: 500;
  text-align: center;
  margin-bottom: 0.8579088472vw;
  color: #ffffff;
}
.call__text {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 0.9651474531vw;
  line-height: 1.5013404826vw;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #2a2a2a;
  max-width: 19.5710455764vw;
  text-align: center;
  margin-bottom: 1.8230563003vw;
  color: #ffffff;
}
.call__label {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 0.7506702413vw;
  line-height: 1.018766756vw;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #2a2a2a;
  max-width: 12.3324396783vw;
  color: #ffffff;
  margin-bottom: 0.6434316354vw;
}
.call__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.call__phone {
  background: #fafafa;
  box-shadow: inset 0 0 1.1260053619vw rgba(255, 255, 255, 0.4);
  height: 4.5576407507vw;
  display: flex;
  align-items: center;
  width: 19.4638069705vw;
  border-radius: 3.9142091153vw;
  padding: 1.5013404826vw 2.5201072386vw;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 0.9651474531vw;
  line-height: 1.2868632708vw;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #2a2a2a;
  max-width: 26.8096514745vw;
  color: #2a2a2a;
  margin-bottom: 1.3404825737vw;
}
.call__button {
  width: 19.4638069705vw;
  border-radius: 3.9142091153vw;
  padding: 1.5013404826vw 2.5201072386vw;
  background-color: #FD2016;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 0.8579088472vw;
  line-height: 1.2868632708vw;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #2a2a2a;
  max-width: 26.8096514745vw;
  letter-spacing: 0.04em;
  color: #ffffff;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.3404825737vw;
}
.call__rules {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.7506702413vw;
}
.call__privacy {
  font-weight: 400;
  font-size: 0.7506702413vw;
  line-height: 1.018766756vw;
  align-items: center;
  color: #ffffff;
  width: 17.1581769437vw;
}
.call__privacy > a {
  color: #FD2016;
}
.call__checkbox {
  width: 1.072386059vw;
  height: 1.072386059vw;
  position: relative;
}
.call__checkbox:checked:before {
  content: "";
  position: absolute;
  width: 1.072386059vw;
  height: 1.072386059vw;
  background-color: #cb2720;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../assets/checked-white.svg") center no-repeat;
  border-radius: 0.2680965147vw;
}
.call__checkbox:checked .call__checkbox__check-label {
  display: none;
}
.call__checkbox:checked .call__check-label {
  display: block;
  background-color: green;
}

.header {
  display: flex;
  flex-direction: column;
  padding-top: 1.1796246649vw;
}
@media (max-width: 992px) {
  .header {
    padding: 0;
  }
}
.header__top {
  height: 4.3967828418vw;
}
@media (max-width: 992px) {
  .header__top {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    height: 3.75rem;
    padding: 0.625rem;
    transition: all 0.8s ease;
  }
}
.header__container {
  width: 88.0428954424vw;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
@media (max-width: 992px) {
  .header__container {
    justify-content: space-between;
    width: 95vw;
  }
}
.header__logo {
  display: flex;
  align-items: center;
  margin-right: 3.0563002681vw;
}
.header__logo img {
  width: 11.4209115282vw;
  margin-right: 1.2332439678vw;
}
@media (max-width: 992px) {
  .header__logo img {
    height: 1.375rem;
    width: 5.75rem;
  }
}
.header__logo > .text {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 0.5898123324vw;
  line-height: 1.072386059vw;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #2a2a2a;
  max-width: 8.6863270777vw;
  width: 7.6139410188vw;
  white-space: nowrap;
}
@media (max-width: 992px) {
  .header__logo > .text {
    display: none;
  }
}
.header__address {
  display: flex;
  margin-right: 3.5388739946vw;
}
@media (max-width: 992px) {
  .header__address {
    display: none;
  }
}
.header__address img {
  width: 1.8766756032vw;
  margin-right: 0.5361930295vw;
}
.header__address > .text {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 0.5898123324vw;
  line-height: 0.9651474531vw;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #2a2a2a;
  max-width: 8.418230563vw;
  white-space: nowrap;
}
.header__map {
  display: flex;
  margin-right: 3.4852546917vw;
  position: relative;
}
@media (max-width: 992px) {
  .header__map {
    display: none;
  }
}
.header__map:hover {
  cursor: pointer;
  transition: opacity 0.3s ease-in;
  pointer-events: auto;
}
.header__map:hover > div.header__location {
  transition-delay: 0.4s;
  opacity: 1;
  pointer-events: auto;
}
.header__map img {
  width: 0.6434316354vw;
  margin-right: 0.5361930295vw;
}
.header__map > .text {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 0.5898123324vw;
  line-height: 0.8042895442vw;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #2a2a2a;
  max-width: 6.4343163539vw;
  font-weight: 700;
  letter-spacing: 0.05em;
  height: 1.072386059vw;
  display: flex;
  align-items: flex-start;
}
.header__map > div.header__location {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  left: 0;
  transform: translateX(-20%);
  top: 1.072386059vw;
  transition: opacity 0.2s ease-in;
}
.header__map > div.header__location:hover {
  pointer-events: auto;
}
.header__map > div.header__location > iframe {
  width: 13.4048257373vw;
  height: 13.4048257373vw;
}
.header__price {
  display: flex;
  align-items: center;
  margin-right: 3.5924932976vw;
}
@media (max-width: 992px) {
  .header__price {
    display: none;
  }
}
.header__price img {
  width: 1.8766756032vw;
  margin-right: 0.5898123324vw;
  height: 1.6085790885vw;
}
.header__price > .text {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 0.5898123324vw;
  line-height: 1.018766756vw;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #2a2a2a;
  max-width: 7.8820375335vw;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  font-weight: 700;
  letter-spacing: 0.05em;
  padding-bottom: 0.4289544236vw;
  align-items: flex-start;
}
.header__price > .text:hover {
  cursor: pointer;
}
.header__media {
  display: flex;
  align-items: center;
  margin-right: 3.0563002681vw;
}
@media (max-width: 992px) {
  .header__media {
    display: none;
  }
}
.header__media img {
  width: 1.8766756032vw;
  height: 1.8766756032vw;
}
.header__media > .text {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 0.5898123324vw;
  line-height: 0.9651474531vw;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #2a2a2a;
  max-width: 5.6836461126vw;
  width: 5.6836461126vw;
  margin-right: 0.9651474531vw;
  white-space: nowrap;
}
.header__media-links {
  display: flex;
}
.header__media-link {
  border-radius: 50%;
  margin-right: 0.3217158177vw;
  width: 1.8766756032vw;
  height: 1.8766756032vw;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.8766756032vw;
  height: 1.8766756032vw;
}
.header__media-link > img {
  width: 100%;
}
.header__sublink {
  display: none;
}
@media (max-width: 992px) {
  .header__sublink {
    display: block;
  }
}
.header__burger {
  display: none;
}
@media (max-width: 992px) {
  .header__burger {
    display: block;
  }
}
.header__contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@media (max-width: 992px) {
  .header__contacts {
    width: 7.1875rem;
    align-items: center;
    row-gap: 0.25rem;
  }
}
.header__contacts > .text {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 0.6434316354vw;
  line-height: 0.5361930295vw;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #2a2a2a;
  max-width: 9.1152815013vw;
  text-align: right;
  position: relative;
  margin-bottom: 0.3217158177vw;
}
.header__contacts > .text::before {
  content: "";
  position: absolute;
  left: -0.4289544236vw;
  top: 50%;
  transform: translateY(-50%);
  width: 0.2144772118vw;
  height: 0.2144772118vw;
  border-radius: 50%;
  background-color: #20C863;
}
@media (max-width: 992px) {
  .header__contacts > .text {
    font-size: 0.375rem;
    height: 0.625rem;
    width: 5.1875rem;
    max-width: none;
    color: #ffffff;
    margin-bottom: 0;
  }
}
.header__contacts > a {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 1.072386059vw;
  line-height: 0.5361930295vw;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #2a2a2a;
  max-width: 10.0804289544vw;
  height: 1.1796246649vw;
  padding-right: 0.2680965147vw;
  font-weight: 700;
  text-align: right;
  position: relative;
}
.header__contacts > a::before {
  content: "";
  position: absolute;
  right: -0.5361930295vw;
  top: 50%;
  transform: translateY(-50%);
  width: 0.4825737265vw;
  height: 0.2680965147vw;
  background: url("../assets/arrow.svg") center no-repeat;
}
@media (max-width: 992px) {
  .header__contacts > a::before {
    width: 0.5625rem;
    height: 0.3125rem;
    right: -0.625rem;
  }
}
@media (max-width: 992px) {
  .header__contacts > a {
    font-size: 0.75rem;
    height: 0.625rem;
    width: 7.1875rem;
    max-width: none;
    color: #ffffff;
  }
}
.header__contacts > span {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 0.6434316354vw;
  line-height: 1.1260053619vw;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #2a2a2a;
  max-width: 6.1662198391vw;
  align-self: center;
}
.header__contacts > span:hover {
  cursor: pointer;
}
.header__contacts > span:hover::after {
  cursor: pointer;
  width: 75%;
  color: #cb2720;
}
.header__contacts > span::before {
  content: "";
  position: absolute;
  right: -0.8042895442vw;
  top: 50%;
  transform: translateY(-50%);
  width: 0.3217158177vw;
  height: 0.3217158177vw;
  background: url("../assets/phone.svg") center no-repeat;
}
@media (max-width: 992px) {
  .header__contacts > span::before {
    width: 0.375rem;
    height: 0.375rem;
    right: -0.9375rem;
  }
}
@media (max-width: 992px) {
  .header__contacts > span {
    font-size: 0.375rem;
    max-width: none;
    color: #ffffff;
  }
}
.header__bottom {
  height: 3.4316353887vw;
}
.header__bottom > .header__container {
  height: 100%;
}
@media (max-width: 992px) {
  .header__bottom > .header__container {
    padding-top: 1.25rem;
  }
}
@media (max-width: 992px) {
  .header__bottom {
    position: fixed;
    left: 0;
    top: 3.75rem;
    width: 100%;
    height: 100%;
    box-shadow: 1px -1px 57px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.92);
    z-index: 644;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transform: translateY(-210%);
    transition: all 0.4s ease-in;
    height: 100%;
  }
  .header__bottom > .test {
    display: block;
  }
}
@media (max-width: 480px) {
  .header__bottom {
    padding: 1.375rem;
    padding-right: 0;
  }
}
.header__bottom.active {
  transform: translateX(0%);
  transition: all 0.4s ease-in;
}
.header__menu {
  border-top: 1px solid rgba(42, 42, 42, 0.15);
  padding: 1.1796246649vw 0;
  width: 100%;
}
@media (max-width: 992px) {
  .header__menu {
    height: 100%;
    display: flex;
    align-items: flex-start;
    border-top: none;
    padding-top: 0;
    padding-bottom: 7.5625rem;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: auto;
  }
}
@media (max-width: 480px) {
  .header__menu {
    align-items: flex-start;
  }
}
.header__links {
  width: 100%;
  display: flex;
  justify-content: space-between;
  column-gap: 3.7533512064vw;
}
@media (max-width: 992px) {
  .header__links {
    display: flex;
    flex-direction: column;
    width: auto;
    row-gap: 1.75rem;
    margin-bottom: 2.375rem;
  }
}
.header__link {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 0.6434316354vw;
  line-height: 0.8579088472vw;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #2a2a2a;
  max-width: 16.0857908847vw;
  font-weight: 600;
  letter-spacing: 0.15em;
  max-width: none;
  text-transform: uppercase;
  height: 1.072386059vw;
  transition: 0.3s all ease;
}
.header__link.menu-link a {
  text-transform: uppercase;
}
@media (max-width: 992px) {
  .header__link.menu-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 0.875rem;
    height: 3.875rem;
    text-transform: none;
  }
}
.header__link.menu-link .header__sublink {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.5625rem;
  letter-spacing: 0em;
}
@media (max-width: 992px) {
  .header__link.menu-link .header__sublink {
    text-align: center;
  }
}
@media (max-width: 480px) {
  .header__link.menu-link .header__sublink {
    text-align: left;
  }
}
@media (max-width: 992px) {
  .header__link.menu-link a {
    height: 18px;
    text-align: center;
  }
}
@media (max-width: 480px) {
  .header__link.menu-link {
    align-items: flex-start;
    gap: 0.625rem;
  }
}
.header__link a {
  color: #2a2a2a;
}
.header__link:hover > a {
  color: #cb2720;
  transition: 0.3s all ease;
}
@media (max-width: 992px) {
  .header__link {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 100%;
    height: 1.125rem;
    font-size: 1rem;
  }
  .header__link:first-child {
    display: none;
  }
  .header__link > a {
    height: 100%;
  }
}
@media (max-width: 480px) {
  .header__link {
    justify-content: flex-start;
  }
}

.options {
  display: none;
}
@media (max-width: 992px) {
  .options {
    display: block;
  }
}
.options__address {
  display: flex;
  column-gap: 1.125rem;
  margin-bottom: 2.375rem;
}
.options__address img {
  width: 4.0625rem;
  height: 4.0625rem;
}
.options__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  row-gap: 0.5rem;
}
.options__text p {
  font-size: 0.875rem;
  line-height: 1.1875rem;
  letter-spacing: 0.05em;
  display: flex;
  align-items: flex-end;
}
.options__text > span {
  display: inline-block;
  font-weight: 800;
  font-size: 14px;
  line-height: 18px;
  color: #2a2a2a;
}
.options__price {
  display: flex;
  column-gap: 1.125rem;
  margin-bottom: 2.375rem;
}
.options__price img {
  width: 4.0625rem;
  height: 4.0625rem;
}
.options__price > span {
  display: inline-block;
  font-weight: 800;
  font-size: 14px;
  line-height: 18px;
  color: #2a2a2a;
  align-self: flex-start;
}
.options__contact {
  display: flex;
  column-gap: 1.125rem;
  margin-bottom: 2.375rem;
}
.options__contact img {
  width: 4.0625rem;
  height: 4.0625rem;
}
.options__contact span {
  display: inline-block;
  font-weight: 800;
  font-size: 14px;
  line-height: 18px;
  color: #2a2a2a;
  align-self: flex-start;
  border: none;
}
.options__contact > span {
  border: none;
}
.options__media {
  height: 2rem;
  display: flex;
  column-gap: 0.375rem;
}
.options__media img {
  height: 2rem;
  width: 2rem;
}

.popup {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.main {
  display: flex;
}
.main .scroll {
  width: 5.3619302949vw;
  height: 49.0616621984vw;
  position: relative;
}
@media (max-width: 992px) {
  .main .scroll {
    display: none;
  }
}
.main .scroll::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 5px;
  background: url("../assets/circle.svg") center no-repeat;
  transform: translate(2.6809651475vw, 35.9249329759vw);
  animation: scroll 2s ease-in-out 0s infinite;
}
.main .scroll__text {
  font-weight: 700;
  font-size: 0.8579088472vw;
  line-height: 1.3404825737vw;
  color: #efefef;
  transform: rotate(-90deg) translateX(-1.8766756032vw);
  position: relative;
}
.main .scroll__text::after {
  content: "";
  position: absolute;
  width: 1.072386059vw;
  height: 1.7158176944vw;
  background: url("../assets/mouse.svg") center no-repeat;
  transform: rotate(90deg) translate(0, 36.4611260054vw);
}
.main .scroll__bar {
  position: relative;
}
.main .scroll__bar::before {
  content: "";
  position: absolute;
  height: 0.0536193029vw;
  width: 26.273458445vw;
  background-color: #efefef;
  transform: rotate(-90deg) translate(-18.7667560322vw, -10.4557640751vw);
}
.main__content {
  width: 95.4423592493vw;
}
@media (max-width: 992px) {
  .main__content {
    width: 100%;
  }
}

@keyframes scroll {
  from {
    transform: translate(2.6809651475vw, 35.9249329759vw);
  }
  to {
    transform: translate(2.6809651475vw, 36.6219839142vw);
  }
}
.preview {
  height: 49.0616621984vw;
  background: linear-gradient(270deg, rgba(22, 26, 30, 0) 0%, rgba(22, 26, 30, 0.6375) 79.17%), linear-gradient(270deg, rgba(22, 26, 30, 0) 0%, rgba(22, 26, 30, 0.6375) 79.17%), url("../assets/bg.jpg") center/cover no-repeat;
}
.preview__content {
  width: 92.2252010724vw;
  padding: 6.8632707775vw 6.1662198391vw;
  padding-right: 0;
  margin: 0 auto;
}
.preview__title {
  font-style: normal;
  font-weight: 400;
  font-size: 3.4852546917vw;
  line-height: 5.0938337802vw;
  letter-spacing: 0.02em;
  color: #ffffff;
  width: 58.981233244vw;
  margin-bottom: 1.6621983914vw;
  letter-spacing: 0.046em;
}
.preview__title span {
  font-weight: 700;
}
.preview__text {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 1.4477211796vw;
  line-height: 2.4128686327vw;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #2a2a2a;
  max-width: 47.7211796247vw;
  letter-spacing: 0.055em;
  color: #ffffff;
  margin-bottom: 2.4128686327vw;
}
.preview__buttons {
  display: flex;
}
.preview__buttons > * {
  width: 21.4477211796vw;
  height: 5.3619302949vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 26.8096514745vw;
}
.preview__price-button {
  background-color: #cb2720;
  color: #ffffff;
  justify-content: space-between;
  padding: 1.3404825737vw 2.8954423592vw;
  margin-right: 1.1796246649vw;
  transition: all 0.2s ease;
}
.preview__price-button:hover img {
  transform: rotate(45deg);
  transition: all 0.2s ease;
}
.preview__price-button > img {
  width: 1.1796246649vw;
  transition: all 0.2s ease;
  height: 1.1796246649vw;
}
.preview__price-button > p {
  text-align: center;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 0.6970509383vw;
  line-height: 1.2868632708vw;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #2a2a2a;
  max-width: 13.672922252vw;
  font-weight: 600;
  letter-spacing: 0.16em;
  color: #ffffff;
  padding-left: 0.6970509383vw;
}
.preview__info-button {
  background: rgba(0, 0, 0, 0.45);
  border: 1px solid #ffffff;
  border-radius: 500px;
  padding: 1.8766756032vw 1.6621983914vw;
  justify-content: space-between;
}
.preview__info-button > p {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 0.8579088472vw;
  line-height: 1.3404825737vw;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #2a2a2a;
  max-width: 15.81769437vw;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #ffffff;
}
.preview__info-button > img {
  width: 1.6085790885vw;
  height: 1.6085790885vw;
  letter-spacing: 0.8em;
}

.services {
  margin-top: -8.471849866vw;
}
.services__content {
  width: 79.3565683646vw;
  margin: 0 auto;
}
.services__list {
  display: flex;
}
.services__service {
  flex: 1 1 auto;
  padding: 0 5.0938337802vw;
  padding-bottom: 1.6085790885vw;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  justify-content: center;
}
.services__service img {
  height: 0.8042895442vw;
  width: 0.8579088472vw;
  margin-bottom: 1.072386059vw;
}
.services__service p {
  font-weight: 300;
  font-size: 0.9115281501vw;
  line-height: 1.4477211796vw;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.services__service p span {
  font-weight: 800;
}
.services__service:nth-child(1) {
  padding-left: 0;
}
.services__service:nth-child(1) p {
  width: 11.2600536193vw;
}
.services__service:nth-child(2) > p {
  width: 12.0643431635vw;
}
.services__service:nth-child(3) > p {
  width: 7.7747989276vw;
}
.services__service:nth-child(4) > p {
  width: 24.1286863271vw;
}