@import "./nullstyle.scss";
@import "./variables.scss";
@import "./mixins.scss";
@import "./templates.scss";
@import "./burger.scss";

.wraper {
    min-height: 100vh;
    overflow: hidden;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

.popup__call {
    position: relative;
}

.button-close {
    position: absolute;
    top: getVW(35);
    right: getVW(37);
    width: getVW(20);
    height: getVW(20);
    background: url("../assets/close.svg") center no-repeat;
    transition: all 0.1s ease;

    &:hover {
        cursor: pointer;
    }

    &:active {
        transform: scale(0.85);
        transition: all 0.1s ease;
    }
}

// === CALL POPUP == //
.call {
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: calc(600 / $VWDesctop * 100vw);
        background: url("../assets/form.jpg") 100% / 100% no-repeat;
        padding: getVW(45) getVW(68) getVW(75);
        position: relative;
    }

    &__title {
        @include text(32, 44, 285);
        font-weight: 500;
        text-align: center;
        margin-bottom: getVW(16);
        color: $white;
    }

    &__text {
        @include text(18, 28, 365);
        text-align: center;
        margin-bottom: getVW(34);
        color: $white;
    }

    &__label {
        @include text(14, 19, 230);
        color: $white;
        margin-bottom: getVW(12);
    }

    &__form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__phone {
        background: #fafafa;
        box-shadow: inset 0 0 getVW(21) rgba(255, 255, 255, 0.4);
        height: calc(85 / $VWDesctop * 100vw);
        display: flex;
        align-items: center;
        width: getVW(363);
        border-radius: getVW(73);
        padding: getVW(28) getVW(47);
        @include text(18, 24, 500);
        color: $black;
        margin-bottom: getVW(25);
    }

    &__button {
        width: getVW(363);
        border-radius: getVW(73);
        padding: getVW(28) getVW(47);
        background-color: $red2;
        @include text(16, 24, 500);
        letter-spacing: 0.04em;
        color: $white;
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: getVW(25);
        @extend %button;
    }

    &__rules {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: getVW(14);
    }

    &__privacy {
        font-weight: 400;
        font-size: getVW(14);
        line-height: getVW(19);
        align-items: center;
        color: $white;
        width: getVW(320);

        & > a {
            color: $red2;
        }
    }

    &__checkbox {
        width: getVW(20);
        height: getVW(20);
        position: relative;

        &:checked:before {
            content: "";
            position: absolute;
            width: getVW(20);
            height: getVW(20);
            background-color: $red;
            display: flex;
            justify-content: center;
            align-items: center;
            background: url("../assets/checked-white.svg") center no-repeat;
            border-radius: getVW(5);
        }

        &:checked &__check-label {
            display: none;
        }
    }

    &__checkbox:checked &__check-label {
        display: block;
        background-color: green;
    }
}

// === HEADER == //
.header {
    display: flex;
    flex-direction: column;
    padding-top: getVW(22);

    @media (max-width: 992px) {
        padding: 0;
    }

    &__top {
        height: calc(82 / $VWDesctop * 100vw);

        @media (max-width: 992px) {
            position: fixed;
            width: 100%;
            display: flex;
            align-items: center;
            height: rem(60);
            padding: rem(10);
            transition: all 0.8s ease;
        }
    }

    &__container {
        width: getVW(1642);
        margin: 0 auto;
        display: flex;
        align-items: center;

        @media (max-width: 992px) {
            justify-content: space-between;
            width: 95vw;
        }
    }

    &__logo {
        display: flex;
        align-items: center;
        margin-right: getVW(45);

        img {
            width: getVW(213);
            margin-right: getVW(23);

            @media (max-width: 992px) {
                height: rem(22);
                width: rem(92);
            }
        }

        & > .text {
            @include text(11, 20, 162);
            width: getVW(142);
            white-space: nowrap;

            @media (max-width: 992px) {
                display: none;
            }
        }
    }

    &__address {
        display: flex;
        margin-right: getVW(57);

        @media (max-width: 992px) {
            display: none;
        }

        img {
            width: getVW(35);
            margin-right: getVW(10);
        }

        & > .text {
            @include text(11, 18, 157);
            white-space: nowrap;
        }
    }

    &__map {
        display: flex;
        position: relative;
        margin-right: getVW(60);

        @media (max-width: 992px) {
            display: none;
        }

        &:hover {
            cursor: pointer;
            transition: opacity 0.3s ease-in;
            pointer-events: auto;

            & > div.header__location {
                transition-delay: 0.4s;
                opacity: 1;
                pointer-events: auto;
            }
        }

        img {
            width: getVW(12);
            margin-right: getVW(10);
        }

        & > .text {
            @include text(11, 15, 120);
            font-weight: 700;
            letter-spacing: 0.05em;
            height: calc(20 / $VWDesctop * 100vw);
            display: flex;
            align-items: flex-start;
            @extend %border;
        }

        & > div.header__location {
            position: absolute;
            opacity: 0;
            pointer-events: none;
            left: 0;
            transform: translateX(-20%);
            top: getVW(20);
            transition: opacity 0.2s ease-in;

            &:hover {
                pointer-events: auto;
            }

            & > iframe {
                width: getVW(250);
                height: calc(250 / $VWDesctop * 100vw);
            }
        }
    }

    &__price {
        display: flex;
        align-items: center;
        margin-right: getVW(57);

        @media (max-width: 992px) {
            display: none;
        }

        img {
            width: getVW(35);
            margin-right: getVW(11);
            height: calc(30 / $VWDesctop * 100vw);
        }

        & > .text {
            @include text(11, 19, 147);
            display: flex;
            flex-direction: column;
            white-space: nowrap;
            font-weight: 700;
            letter-spacing: 0.05em;
            padding-bottom: getVW(8);
            align-items: flex-start;

            &:hover {
                cursor: pointer;
            }

            span {
                @extend %border;
            }
        }
    }

    &__media {
        display: flex;
        align-items: center;
        margin-right: getVW(50);

        @media (max-width: 992px) {
            display: none;
        }

        img {
            width: getVW(35);
            height: calc(35 / $VWDesctop * 100vw);
        }

        & > .text {
            @include text(11, 18, 106);
            width: getVW(106);
            margin-right: getVW(18);
            white-space: nowrap;
        }
    }

    &__media-links {
        display: flex;
    }

    &__media-link {
        border-radius: 50%;
        margin-right: getVW(6);
        width: getVW(35);
        height: calc(35 / $VWDesctop * 100vw);
        display: flex;
        justify-content: center;
        align-items: center;
        width: getVW(35);
        height: calc(35 / $VWDesctop * 100vw);

        & > img {
            width: 100%;
        }
    }

    &__sublink {
        display: none;

        @media (max-width: 992px) {
            display: block;
        }
    }

    &__burger {
        display: none;

        @media (max-width: 992px) {
            display: block;
        }
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        @media (max-width: 992px) {
            width: rem(115);
            align-items: center;
            row-gap: rem(4);
        }

        & > .text {
            @include text(12, 10, 170);
            text-align: right;
            position: relative;
            margin-bottom: getVW(6);

            &::before {
                content: "";
                position: absolute;
                left: getVW(-8);
                top: 50%;
                transform: translateY(-50%);
                width: getVW(4);
                height: getVW(4);
                border-radius: 50%;
                background-color: $green;
            }

            @media (max-width: 992px) {
                font-size: rem(6);
                height: rem(10);
                width: rem(83);
                max-width: none;
                color: $white;
                margin-bottom: 0;
            }
        }

        & > a {
            @include text(20, 10, 188);
            height: calc(22 / $VWDesctop * 100vw);
            padding-right: getVW(5);
            font-weight: 700;
            text-align: right;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                right: getVW(-10);
                top: 50%;
                transform: translateY(-50%);
                width: getVW(9);
                height: calc(5 / $VWDesctop * 100vw);
                background: url("../assets/arrow.svg") center no-repeat;

                @media (max-width: 992px) {
                    width: rem(9);
                    height: rem(5);
                    right: rem(-10);
                }
            }

            @media (max-width: 992px) {
                font-size: rem(12);
                height: rem(10);
                width: rem(115);
                max-width: none;
                color: $white;
            }
        }

        & > span {
            @include text(12, 21, 115);
            @extend %border;
            align-self: center;

            &:hover {
                cursor: pointer;
            }

            &:hover::after {
                cursor: pointer;
                width: 75%;
                color: $red;
            }

            &::before {
                content: "";
                position: absolute;
                right: getVW(-15);
                top: 50%;
                transform: translateY(-50%);
                width: getVW(6);
                height: calc(6 / $VWDesctop * 100vw);
                background: url("../assets/phone.svg") center no-repeat;

                @media (max-width: 992px) {
                    width: rem(6);
                    height: rem(6);
                    right: rem(-15);
                }
            }

            @media (max-width: 992px) {
                font-size: rem(6);
                max-width: none;
                color: $white;
            }
        }
    }

    &__bottom {
        height: calc(64 / $VWDesctop * 100vw);

        & > .header__container {
            height: 100%;

            @media (max-width: 992px) {
                padding-top: rem(20);
            }
        }

        @media (max-width: 992px) {
            position: fixed;
            left: 0;
            // top: calc(82 / $VWDesctop * 100vw);
            top: rem(60);
            width: 100%;
            height: 100%;
            box-shadow: 1px -1px 57px rgb(0 0 0 / 10%);
            background-color: rgba(255, 255, 255, 0.92);
            z-index: 644;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            transform: translateY(-210%);
            transition: all 0.4s ease-in;
            height: 100%;

            & > .test {
                display: block;
            }
        }

        @media (max-width: 480px) {
            padding: rem(22);
            padding-right: 0;
        }

        &.active {
            transform: translateX(0%);
            transition: all 0.4s ease-in;
        }
    }

    &__menu {
        border-top: 1px solid rgb(42, 42, 42, 0.15);
        padding: getVW(22) 0;
        width: 100%;

        @media (max-width: 992px) {
            height: 100%;
            display: flex;
            align-items: flex-start;
            border-top: none;
            padding-top: 0;
            padding-bottom: rem(121);

            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            overflow: auto;
        }

        @media (max-width: 480px) {
            align-items: flex-start;
        }
    }

    &__links {
        width: 100%;
        display: flex;
        justify-content: space-between;
        column-gap: getVW(70);

        @media (max-width: 992px) {
            display: flex;
            flex-direction: column;
            width: auto;
            row-gap: rem(28);

            margin-bottom: rem(38);
        }
    }

    &__link {
        @include text(12, 16, 300);
        font-weight: 600;
        letter-spacing: 0.15em;
        max-width: none;
        text-transform: uppercase;
        height: calc(20 / $VWDesctop * 100vw);
        transition: 0.3s all ease;

        &.menu-link {
            a {
                text-transform: uppercase;
            }

            @media (max-width: 992px) {
                display: flex;
                flex-direction: column;
                justify-content: center;
                row-gap: rem(14);
                height: rem(62);
                text-transform: none;
            }

            & .header__sublink {
                font-weight: 400;
                font-size: rem(12);
                line-height: rem(25);
                letter-spacing: 0em;

                @media (max-width: 992px) {
                    text-align: center;
                }

                @media (max-width: 480px) {
                    text-align: left;
                }
            }

            a {
                @media (max-width: 992px) {
                    height: 18px;
                    text-align: center;
                }
            }

            @media (max-width: 480px) {
                align-items: flex-start;
                gap: rem(10);
                // height: rem(62);
            }
        }

        a {
            color: $black;
        }

        &:hover > a {
            color: $red;
            transition: 0.3s all ease;
        }

        @media (max-width: 992px) {
            &:first-child {
                display: none;
            }
            display: flex;
            justify-content: center;
            align-items: center;
            line-height: 100%;
            height: rem(18);
            font-size: rem(16);

            & > a {
                height: 100%;
            }
        }

        @media (max-width: 480px) {
            justify-content: flex-start;
        }
    }
}

.options {
    display: none;

    @media (max-width: 992px) {
        display: block;
    }

    &__address {
        display: flex;
        column-gap: rem(18);
        margin-bottom: rem(38);

        img {
            width: rem(65);
            height: rem(65);
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        row-gap: rem(8);

        p {
            font-size: rem(14);
            line-height: rem(19);
            letter-spacing: 0.05em;
            display: flex;
            align-items: flex-end;
        }

        & > span {
            display: inline-block;
            font-weight: 800;
            font-size: 14px;
            line-height: 18px;
            color: $black;
            @extend %border;
        }
    }

    &__price {
        display: flex;
        column-gap: rem(18);
        margin-bottom: rem(38);

        img {
            width: rem(65);
            height: rem(65);
        }

        & > span {
            display: inline-block;
            font-weight: 800;
            font-size: 14px;
            line-height: 18px;
            color: $black;
            align-self: flex-start;
        }
    }

    &__contact {
        display: flex;
        column-gap: rem(18);
        margin-bottom: rem(38);

        img {
            width: rem(65);
            height: rem(65);
        }

        span {
            display: inline-block;
            font-weight: 800;
            font-size: 14px;
            line-height: 18px;
            color: $black;
            align-self: flex-start;
            border: none;
        }

        & > span {
            border: none;
        }
    }

    &__media {
        height: rem(32);
        display: flex;
        column-gap: rem(6);

        img {
            height: rem(32);
            width: rem(32);
        }
    }
}

.popup {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}
// ========================== //

.main {
    display: flex;

    .scroll {
        width: getVW(78);
        height: calc(915 / $VWDesctop * 100vw);
        position: relative;

        @media (max-width: 992px) {
            display: none;
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 5px;
            height: 5px;
            background: url("../assets/circle.svg") center no-repeat;
            transform: translate(getVW(50), getVW(670));
            animation: scroll 2s ease-in-out 0s infinite;
        }

        &__text {
            font-weight: 700;
            font-size: getVW(16);
            line-height: getVW(25);
            color: $scrollWhite;
            transform: rotate(-90deg) translateX(getVW(-35));
            position: relative;

            // &::before {
            //     content: "";
            //     position: absolute;
            //     height: calc(1 / $VWDesctop * 100vw);
            //     width: getVW(490);
            //     background-color: $scrollWhite;
            //     transform: translate(-110%, getVW(15));
            // }

            &::after {
                content: "";
                position: absolute;
                width: getVW(20);
                height: calc(32 / $VWDesctop * 100vw);
                background: url("../assets/mouse.svg") center no-repeat;
                transform: rotate(90deg) translate(0, getVW(680));
            }
        }

        &__bar {
            position: relative;

            &::before {
                content: "";
                position: absolute;
                height: calc(1 / $VWDesctop * 100vw);
                width: getVW(490);
                background-color: $scrollWhite;
                // transform: translate(-110%, getVW(15));
                transform: rotate(-90deg) translate(getVW(-350), getVW(-195));
            }
        }
    }

    &__content {
        width: getVW(1780);

        @media (max-width: 992px) {
            width: 100%;
            height: rem(400);
        }
    }
}

// === PREVIEW == //
.preview {
    height: calc(915 / $VWDesctop * 100vw);
    background: linear-gradient(270deg, rgba(22, 26, 30, 0) 0%, rgba(22, 26, 30, 0.6375) 79.17%),
        linear-gradient(270deg, rgba(22, 26, 30, 0) 0%, rgba(22, 26, 30, 0.6375) 79.17%),
        url("../assets/bg.jpg") center / cover no-repeat;

    @media (max-width: 992px) {
        height: rem(500);
    }

    &__content {
        width: getVW(1720);
        padding: getVW(128) getVW(115);
        padding-right: 0;
        margin: 0 auto;

        @media (max-width: 992px) {
            padding: rem(130) rem(30);
        }

        @media (max-width: 600px) {
            padding: rem(95) 0 rem(45) rem(30);
        }
    }

    &__title {
        font-style: normal;
        font-weight: 400;
        font-size: getVW(65);
        line-height: getVW(95);
        letter-spacing: 0.02em;
        color: $white;
        width: getVW(1100);
        margin-bottom: getVW(31);
        letter-spacing: 0.046em;

        span {
            font-weight: 700;
        }

        @media (max-width: 992px) {
            font-size: rem(30);
            text-align: left;
            width: rem(500);
            line-height: rem(45);
        }

        @media (max-width: 600px) {
            font-size: rem(20);
            width: rem(240);
            line-height: rem(30);
            margin-bottom: rem(28);
        }
    }

    &__text {
        @include text(27, 45, 890);
        letter-spacing: 0.055em;
        color: $white;
        margin-bottom: getVW(45);

        @media (max-width: 992px) {
            font-size: rem(16);
            line-height: rem(45);
            max-width: none;
        }

        @media (max-width: 600px) {
            font-size: rem(12);
            width: rem(260);
            line-height: 1rem;
            margin-bottom: rem(29);
        }
    }

    &__buttons {
        display: flex;

        @media (max-width: 600px) {
            flex-direction: column;
            row-gap: rem(15);
        }

        & > * {
            width: getVW(400);
            height: calc(100 / $VWDesctop * 100vw);
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: getVW(500);

            @media (max-width: 992px) {
                width: rem(240);
                height: rem(60);
                border-radius: rem(500);
            }

            @media (max-width: 600px) {
                width: rem(250);
                height: rem(50);
            }
        }
    }

    &__price-button {
        background-color: $red;
        color: $white;
        justify-content: space-between;
        padding: getVW(25) getVW(54);
        margin-right: getVW(22);
        transition: all 0.2s ease;
        @extend %button;

        @media (max-width: 600px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: rem(250);
            height: rem(50);
        }

        &:hover img {
            transform: rotate(45deg);
            transition: all 0.2s ease;
        }

        & > img {
            width: getVW(22);
            transition: all 0.2s ease;
            height: calc(22 / $VWDesctop * 100vw);

            @media (max-width: 992px) {
                width: rem(15);
                height: rem(15);
            }

            @media (max-width: 600px) {
                display: none;
            }
        }

        & > p {
            text-align: center;
            @include text(13, 24, 255);
            font-weight: 600;
            letter-spacing: 0.16em;
            color: $white;
            padding-left: getVW(13);

            @media (max-width: 992px) {
                font-size: rem(8);
                padding-left: rem(13);
                width: 100%;
                max-width: none;
                line-height: 0.8rem;
            }

            @media (max-width: 600px) {
                text-align: center;
                margin: 0px auto;
                padding-left: 0;
                display: flex;
                justify-content: center;
            }
        }
    }

    &__info-button {
        background: rgba(0, 0, 0, 0.45);
        border: 1px solid $white;
        border-radius: 500px;
        padding: getVW(35) getVW(31);
        justify-content: space-between;
        @extend %button;

        @media (max-width: 992px) {
            padding: 0 rem(20);
        }

        @media (max-width: 600px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: rem(250);
            height: rem(50);
        }

        & > p {
            @include text(16, 25, 295);
            font-weight: 600;
            letter-spacing: 0.05em;
            color: $white;

            @media (max-width: 992px) {
                font-size: rem(10);
                letter-spacing: 0.05em;
                padding-left: rem(13);
                width: 100%;
                max-width: none;
                line-height: 0.8rem;
            }

            @media (max-width: 600px) {
                text-align: center;
                margin: 0px auto;
                padding-left: 0;
                display: flex;
                justify-content: center;
            }
        }

        & > img {
            width: getVW(30);
            height: calc(30 / $VWDesctop * 100vw);
            letter-spacing: 0.8em;

            @media (max-width: 992px) {
                width: rem(15);
                height: rem(15);
            }

            @media (max-width: 600px) {
                display: none;
            }
        }
    }
}

// === SERVICES == //
.services {
    margin-top: getVW(-158);
    &__content {
        width: getVW(1480);
        margin: 0 auto;
    }

    &__list {
        display: flex;
    }

    &__service {
        flex: 1 1 auto;
        padding: 0 getVW(95);
        padding-bottom: getVW(30);
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        justify-content: center;

        img {
            height: calc(15 / $VWDesctop * 100vw);
            width: getVW(16);
            margin-bottom: getVW(20);
        }
        p {
            font-weight: 300;
            font-size: getVW(17);
            line-height: getVW(27);
            letter-spacing: 0.02em;
            color: $white;
            // color: $black;

            span {
                font-weight: 800;
            }
        }

        &:nth-child(1) {
            padding-left: 0;
            p {
                width: getVW(210);
            }
        }
        &:nth-child(2) > p {
            width: getVW(225);
        }
        &:nth-child(3) > p {
            width: getVW(145);
        }
        &:nth-child(4) > p {
            width: getVW(450);
        }
    }
}

@keyframes scroll {
    from {
        transform: translate(getVW(50), getVW(670));
    }
    to {
        transform: translate(getVW(50), getVW(683));
    }
}
