// === Fonts === //
$Manrope: 'Manrope';

// === Colors === //
$black: #2a2a2a;
$green: #20C863;
$redLight: #d91967;
$red: #cb2720;
$red2: #FD2016;
$white: #ffffff;
$gray: #B0B0B1;

// === Variables === //
$VWDesctop: 1865;